*{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

body{
    margin: 0;
}

.header{
    border-bottom: 2px solid blueviolet;
    background-color: black;
}

.header .container{
    width: 80%;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.container ul{
    width: 400px;
    list-style: none;
    display: flex;
    justify-content: space-between;
    color:white;
}

.container li{
    font-family: 'Times New Roman', Times, serif;

}

.container ul li a{
    text-decoration: none;
    color: white;
    font-family: 'Times New Roman', Times, serif;
}


.container h1 a{
    text-decoration: none;
    color: blueviolet;
    font-family: 'Times New Roman', Times, serif;
}


.container{
    display: flex;
    width: 80%;
    margin: auto;

}

.banner{
    background-image: url(assets/img/bg-jelly-fish-para_outras_pags.png);
    background-size: cover;
}

.banner .container{
    justify-content: center;
    align-items: center;
    height: 470px;
}

.banner .container p{
    font-size: 36px;
    color: white;
    width: 700px;
}

.social{
    background-color: #e5e5e5;
    display: flex;   
}

.social .container{
    justify-content: center;
}

.box img{
    width: 100px;
}

.social .container .boxes{
    display: flex;
    justify-content: space-between;
}

.box{
    width: 380px;
    height: 400px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.box p {
    text-align: center;
}

.footer{
    height: 60px;
    width: 100%;
    background-color: black;
}

footer .container .version{
    font-size: 12px;
    font-weight: 800;
    float: left;
}

.footer .container h4{
    color: white;
    font-family: 'Times New Roman', Times, serif;
}

.card{
    margin: 3%;
    width: 30%;
    background-color: #e5e5e5;
    border: 2px solid blueviolet;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-direction: column;
}

.card h2{
    margin-top: 50px;
    font-size: 30px;
    color:blueviolet;
    font-family: 'Times New Roman', Times, serif;
}

.formulario{
    display: flex;
    height: 90%;
    width: 50%;
    justify-content:start;
    flex-direction: column;
    margin: 20px;
}

.formulario span{
    font-size: 14px;
    font-weight: 800;
    font-family: 'Times New Roman', Times, serif;
}

.formulario input{
    border: 1px solid blueviolet;
    text-align: center;
    border-radius: 10px;
}

.campo{
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.card{
    display: flex;
    flex-direction: column;
    justify-content: center;
}


